.modal.hide#new_task
  .modal-header
    %button.close{ :type => "button", 'data-dismiss' => "modal"}
    %h3 Modal header

  .modal-body
    %p One fine body…

  .modal-footer
    = link_to "Close", "#", :class => "btn", :"data-dismiss" => "modal"
    = link_to 'Save changes', "#", :class => "btn btn-primary"